In [8]:
import pandas as pd
df = pd.read_csv("/home/franco/Documentos/cursos/Python/python_data_science_big_data/base_datos_2008.csv", nrows = 100000)

In [9]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe()

             count       mean        std   min   25%  50%   75%    max
DayOfWeek
1          14349.0   4.568960  29.047008 -56.0  -9.0 -3.0   9.0  431.0
2          14471.0   0.446479  21.617710 -48.0 -10.0 -4.0   5.0  360.0
3          14504.0  -1.646511  18.464538 -48.0 -11.0 -5.0   3.0  422.0
4          16774.0  13.387922  38.490537 -45.0  -7.0  2.0  19.0  486.0
5          14350.0   7.684948  28.156892 -52.0  -7.0  0.0  14.0  364.0
6          11172.0   2.069280  27.866895 -49.0 -11.0 -4.0   6.0  500.0
7          13078.0  12.190625  41.925311 -57.0  -9.0  0.0  16.0  367.0

In [12]:
df.groupby(by="DayOfWeek")[["ArrDelay", "DepDelay"]].mean()

            ArrDelay   DepDelay
DayOfWeek
1           4.568960   9.141704
2           0.446479   5.192300
3          -1.646511   3.680816
4          13.387922  16.511031
5           7.684948  12.067975
6           2.069280   8.080861
7          12.190625  17.135919

In [13]:
df.groupby(by="DayOfWeek")["ArrDelay"].max() - df.groupby(by="DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    487.0
2    408.0
3    470.0
4    531.0
5    416.0
6    549.0
7    424.0
Name: ArrDelay, dtype: float64

In [14]:
dfALTHOU = df[df.Origin.isin(["ALT","HOU"])]

In [15]:
dfALTHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          HOU        1.767764
2          HOU        1.624348
3          HOU        3.026178
4          HOU       21.047535
5          HOU        6.853448
6          HOU       -0.967172
7          HOU        7.842629
Name: ArrDelay, dtype: float64