In [39]:
import pandas as pd
import numpy as np
df = pd.read_csv("/home/franco/Documentos/cursos/Python/python_data_science_big_data/base_datos_2008.csv", nrows = 10000)

In [40]:
np.corrcoef(df["ArrDelay"],df["DepDelay"])

array([[nan, nan],
       [nan, nan]])

In [41]:
df.dropna(inplace= True, subset=["ArrDelay","DepDelay"])

In [42]:
np.corrcoef([df["ArrDelay"],df["DepDelay"], df["DepTime"]])

array([[1.        , 0.95453694, 0.40926916],
       [0.95453694, 1.        , 0.43059119],
       [0.40926916, 0.43059119, 1.        ]])

In [43]:
df.drop(inplace=True, columns=["Year","Cancelled","Diverted"])

In [44]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0

In [ ]:
df.corr()