In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("/home/franco/Documentos/cursos/Python/python_data_science_big_data/base_datos_2008.csv",nrows=100000)

In [2]:
np.random.seed(0)
df = df[df["Origin"].isin(["HOU","ATL","IND"])]
df = df.sample(frac=1)
df = df[0:10000]

In [3]:
df["BigDelay"] = df["ArrDelay"] > 30
observados = pd.crosstab(index=df["BigDelay"],columns=df["Origin"],margins=True)

In [4]:
observados

Origin     HOU  IND   All
BigDelay
False     3455  443  3898
True       370   34   404
All       3825  477  4302

In [6]:
!pip install scipy
from scipy.stats import chi2_contingency

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.1/41.1 MB 8.2 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: numpy<2.3,>=1.23.5 in /home/franco/.local/lib/python3.10/site-packages (from scipy) (2.0.0)
Installing collected packages: scipy
Successfully installed scipy-1.14.0

In [7]:
test = chi2_contingency(observados)

In [8]:
test

Chi2ContingencyResult(statistic=np.float64(3.2291023431544676), pvalue=np.float64(0.5202432829961151), dof=4, expected_freq=array([[3465.79497908,  432.20502092, 3898.        ],
       [ 359.20502092,   44.79497908,  404.        ],
       [3825.        ,  477.        , 4302.        ]]))

In [9]:
esperados = pd.DataFrame(test[3])

In [10]:
esperados

             0           1       2
0  3465.794979  432.205021  3898.0
1   359.205021   44.794979   404.0
2  3825.000000  477.000000  4302.0

In [15]:
esperados_rel = round(esperados.apply(lambda r:r/len(df)*100,axis=1),2)

In [16]:
observados_rel = round(observados.apply(lambda r:r/len(df)*100,axis=1),2)

In [17]:
esperados_rel

       0      1       2
0  80.56  10.05   90.61
1   8.35   1.04    9.39
2  88.91  11.09  100.00

In [18]:
observados_rel

Origin      HOU    IND     All
BigDelay
False     80.31  10.30   90.61
True       8.60   0.79    9.39
All       88.91  11.09  100.00

In [19]:
test[1]

np.float64(0.5202432829961151)